/* risk mgmt */

ul.risk-mgmt-docs {
  list-style: none;
  padding: 0;
  border-radius: 0.8em;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

ul.risk-mgmt-docs li {
  padding: 0.8em;
  border-bottom: 1px solid #ddd;
}

ul.risk-mgmt-docs li:nth-child(even) {
  background-color: #f2f2f2;
}

ul.risk-mgmt-docs li:last-child {
  border-bottom: none;
}

ul.risk-mgmt-docs a {
  text-decoration: none;
  cursor: pointer;
}

ul.risk-mgmt-docs a:link,
ul.risk-mgmt-docs a:visited {
  color: #1c75bc;
}

ul.risk-mgmt-docs a:hover,
ul.risk-mgmt-docs a:focus {
  color: #ec2027;
}

/* ehs */
.ehs>*+* {
  margin-top: 1.5em;
}

.ehs-mgmt-docs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 0.8em;
  margin-bottom: 1.5em;
  align-items: stretch;
}

.ehs-card {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  border-radius: 0.8em;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ehs-card-header {
  background-color: #1b6ec2;
  font-size: 1.25em;
  padding: 0.8em 1em;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.ehs-card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.ehs-card-body {
  display: flex;
  flex-grow: 1;
  /* Let the body grow to fill remaining space */
  flex-direction: column;
  padding: 1em;
}

.ehs-card-body span.fa-li {
  margin-top: 0.3em;
}

.ehs-card-body li {
  margin-bottom: 0.5em;
}

.final-doc {
  border-left: 6px solid #ec2027;
  background-color: #ffe6e9;
  margin: 0.8em 0;
  padding: 0.8em;
  border-radius: 0.8em;
  font-weight: 600;
  color: #721c24;
}

/* clery */
.clery>*+* {
  margin-top: 1.5em;
}

.clery-details {
  background-color: white;
  border-radius: 0.8em;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1.5em;
}

.clery-details li {
  margin-bottom: 0.8em;
}

.clery-details li>ul {
  margin-top: 0.8em;
}

.clery-details a {
  text-decoration: none;
  cursor: pointer;
}

.clery-details a:link,
.clery-details a:visited {
  color: #1c75bc;
}

.clery-details a:hover,
.clery-details a:focus {
  color: #ec2027;
}